[package]
name = "cronos_dedup"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]

[dependencies]
libc = "0.2"
rayon = "1.8"
twox-hash = "1.6" # Very fast non-crypto hash, faster than FNV
